@charset "UTF-8";

.header-top nav a{
	color:#017069;
}

.header-top nav a:hover{color:#F38806;}
/*.header-top nav{ border: 1px solid red;}*/

.about-container {
	width:960px;
	display: block;
	margin: 0 auto;
}

.about-text{
	font-family: 'museo_sans300',sans-serif;
	padding: 150px 0;
	margin-top: 4em;
	width: 650px;
	margin-left: 160px;
}

.about-text h1 {
	font-family: 'museo_sans300',sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #017069;
	margin: 1em 0 0.5em 0;
}

.about-text p {
	font: 400 1.3em/1.6 'museo_sans300', sans-serif;
	color:#444;
}

.about-text p a{color:#017069;}
.resume {
	margin-top: 1.2em;
	text-decoration: underline;
	color: #017069;
}

.resume a {color:#017069;}

p a:hover{color:#F38806;}