body{
    width: 100%;
    margin:0;
}

#scrollRight img, #scrollLeft img{
    position: absolute;
    top: 33%;
    margin-top: -10;
    z-index: 1000;
    cursor: pointer;
    opacity:.3;
}

#scrollRight img{right: 0;}

#scrollRight img:hover {opacity: 1;}

#scrollLeft img:hover{opacity: 1;}

section.full-height{width: 100%;}

.project-teaser{
    position:relative;
    width:100%;
    max-width: 960px;
    margin: 120px auto 0;
}

.project-teaser h3{
    width:60%;
    margin: 25px auto 0;
    text-align: center; 
    line-height: 1.2em; 
}
h3 a {color: #105aff;}
h3 a:hover {color: #EF5750;; text-decoration: none;}

.mothership_site a, span{color: #105aff; text-decoration: none; margin-bottom: 30px;}

article.project-section {
    margin-left: auto;
    margin-right: auto;
    width:100%;
    max-width: 1024px;
    margin-top: 50px;
}

article::after{
    clear: both;
    content: "";
    display: table;
}

article.project-section:first-of-type{margin-top: 110px;}
article.project-section:last-of-type{margin-bottom: 110px;}

p{
    font-family: 'BasisGrotesque-Bold',sans-serif!important;
    font-size: 1em;
    line-height: 1.2em;
}

figure.featured-images{margin-bottom:100px;}

.featured-images.bullet{margin-bottom: 40px;}

figure.featured-images img{
    width: 100%;
    height: auto;
}

figure #work-it img{
    width: 75%;
    left: calc(50% - 35%);
    position: relative;
    padding-top: 30px;
}

.featured-images iframe{ width:100%; }


.project-section h3{
    margin: 40px 0 24px;
    font-size: 20px;
    line-height: 24px;
    color:#000;
}

.project-section a{color:#105aff; text-decoration: none;}
.project-section a:hover{color: #EF5750; text-decoration: none;}

.six-colums{
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
}

.six-colums:last-child {margin-right: 0;}

.last {margin-right: 0;}

.featured-images.altered{margin-bottom: 20px;}

.one-colum{
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
}

.two-colums{
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 12.3443%;}

.two-colums p, .one-colum p{margin-bottom: 40px;}

.five-colum{
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
}

.five-colum:last-child {margin-right: 0;}

.four-colums{  
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 30.76157%;
    text-align: center;
}

.full-screen {width: 31.76157%;}

.four-colums:last-child {margin-right: 0;}

.eight-colums{
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88978%;
}

.twelve-colums{
    float: left;
    display: block;
    width:100%;
}

.center{
    margin-left: 17.05961%;
    text-align: center;
    margin-bottom: 65px;
}

.prj_description{
    line-height: 1.4em;
    color: #59595b;
    margin: 4rem auto 5rem;
}

#content_container{
    position: relative;
    margin:0 auto 10px auto;
    max-width:1080px;
}

#image_slider{
    position: relative;
    list-style: none;
    overflow: hidden;
}

#image_slider li{
    position: relative;
    float: left;
    margin-bottom: 30px;
    display: block;
}

#image_slider li img{
    width: 100%;
}

 .section-title{
    font-family: 'BasisGrotesque-Bold', sans-serif;
    text-transform: uppercase;
    margin: 4rem auto;
    text-align: center;
    font-weight: 600;
}

.section-video{
    margin: 1.5rem auto 0;
    max-width: 1080px;
    width: 100%;
}

.fluid_video_wrapper, .fluid-image-wrapper{
    width: 100%;
    position: relative;
    padding: 0;
}

.fluid-image-wrapper img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fluid_video_wrapper iframe{
    top: 0;
    left: 0;
    width: 100%;
/*    height: 100%;*/
}


.section-image{
    margin: 1.5rem auto 1.5rem;
    max-width: 1080px;
}

.bottom-navigation{
    margin: 80px auto 35px auto;
    width:100%;
    max-width: 1024px;
}

.bottom-navigation a{
    color:#105aff; 
    font-weight: bold;
    text-decoration: none;
}

.bottom-navigation span>a:hover{
    color: #EF5750;
    opacity: 1;
    transition: all 300ms;
    letter-spacing: .3px;
    text-decoration: none;
}

.left {
    left: 0;
    position: relative;
    width: 49%;
    text-align: left;
    display: inline-block;
}

.bottom-navigation img {
    position: relative;
    top: 3px;
}

.left img {margin-left: 15px;}
.lright img {margin-right: 15px;}
.right {
    right: 0;
    position: relative;
    width: 49%;
    display: inline-block;
    text-align: right;
}




/*---------------------------------------------mesc------------slider-------------------------------*/

#container-md{
    margin:0 auto;
    position: relative;
    max-width:800px;
    padding: 0;
    overflow: hidden;
}

.slider_wrapper-md{
    position:relative;
    height:101px;
    width:2750px;
    top:auto;
    left:0;
}

 #image_slider-md {
    position: relative;
    height: auto;
    list-style: none;
    overflow: hidden;
    float: left;
    /*Chrom default padding for ul is 40px */
    margin:0;
}

.list-modifier li{margin-right: 0;}

#image_slider-md li{
    position: relative;
    float: left;
    margin-right: 5em;
}

.slider_wrapper-md {
    transition: all 2s ease-in-out;
}

#booth {
  position: relative;
  height: 500px;
  width: 270px;
  border: 3px solid #121e23;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 15px 15px 0 0
}

#booth::after{
  content: '';
  position: absolute;
  width: 290px;
  height: 10px;
  border: 3px solid #121e23;
  bottom: -16px;
  left: -15px;  
}

#display {
  position: absolute;
  border: 3px solid #121e23;
  height: 70%;
  width: 76%;
  top: 25px;
  left: calc(50% - 38%); 
  border-radius: 3px; 
}

#cam {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #121e23;
  position: absolute;
  top: 9px;
  left: calc(50% - 3px)
}



/*----------------------------------------------MOBILE SCREENSSSSSS---------------------------------*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){

    section{padding:10px;}

    /*----------------------------------Slider Container-----------------------------------------*/
    #container-md{max-width:700px;}

    #image_slider-md {padding:0 0 0 30px;}

    figure.gif{
        width: calc(24% - 5px);
        margin-left: 6px;
    }
}

@media only screen and (max-device-width: 768px){
    section{padding:10px;}

    .project-teaser h3{
        width: 90%;
        margin: 15px auto;
    }

      h1{font-size: 30px;
        line-height: 27px;
        letter-spacing: -1.8px;
    }

    .project-section h3{ margin-top: 0; }

    figure.featured-images{margin-bottom:30px;}

    .six-colums, .four-colums, .five-colum, .eight-colums, .center, .two-colums{
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }

    article.project-section{margin-bottom: 30px;}
}

@media only screen and (max-device-width: 540px){
    h1{font-size: 30px;
        line-height: 27px;
        letter-spacing: -1.8px;
    }
}

