@charset "UTF-8";

@font-face {
  font-family: 'BasisGrotesque';
  src: url('/_fonts/BasisGrotesque/BasisGrotesque.eot?#iefix') format('embedded-opentype'),  
        url('/_fonts/BasisGrotesque/BasisGrotesque.woff') format('woff'), 
        url('/_fonts/BasisGrotesque/BasisGrotesque.ttf')  format('truetype'), 
        url('/_fonts/BasisGrotesque/BasisGrotesque.svg#BasisGrotesque') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BasisGrotesque-Bold';
  src: url('/_fonts/BasisGrotesque-Bold/BasisGrotesque-Bold.eot?#iefix') format('embedded-opentype'),  
        url('/_fonts/BasisGrotesque-Bold/BasisGrotesque-Bold.woff') format('woff'), 
        url('/_fonts/BasisGrotesque-Bold/BasisGrotesque-Bold.ttf')  format('truetype'), 
        url('/_fonts/BasisGrotesque-Bold/BasisGrotesque-Bold.svg#BasisGrotesque-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    width:100%;
    background:#fff;
    height:auto;
    display: block;
    font-family: 'BasisGrotesque', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #404040;
}

*{
	margin:0;
	padding:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

div {display: block;}

header{
    font-family: 'BasisGrotesque-Bold', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #404040;
    opacity: .7;
    padding: 12px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    line-height: 1.2em;
    font-size: 1em;
    display: block;
}

.top-navigation-contaner{
    width:100%;
    position: fixed;
    top:15px;
    justify-content: center;
    display: flex;
    transition: 300ms ease-in-out;
    transform: translate(0,0);

}

.folded-up{
    transition: 300ms ease-in-out;
    -webkit-transform: translate(0,-40px);
    -ms-transform: translate(0,-40px);
    transform: translate(0,-40px);
}

.top-navigation {display: flex;}

header a, #about, #work, #home, .seperator{
    cursor: pointer;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 1;
    text-decoration: none;
    color: #404040;
    padding-right: 10px;
}

.introMe{
    border-top: 1px solid #EFEDEA;
    width: 100vw;
    height: 95vh;
    background-color: #EFEDEA;
    text-align: center;
}

.center{
  text-align: center;
  margin: 20px 0 20px 0;
  font-family: 'BasisGrotesque-Bold',sans-serif!important;
  font-size: 1em;
  line-height: 1.2em;
  color: #105AFF;
}

div.introMe #text-box{
    height: 100%;
    max-width: 835px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

div.introMe h1{
    width: 100%;
    top: 50%;
    position: relative;
    margin-top: -150px;
}

section {
    width:100%;
    height: 95vh;
    position: relative;
    display: table;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

ul {list-style: none;}

ul.dotted {
  list-style: disc;
  font-family: 'BasisGrotesque-Bold',sans-serif!important;
  font-size: 1em;
  line-height: 1.2em;
  padding-left: 10px;
  padding-bottom: 20px;
}

ul.dotted li{padding-top: 10px;}


header a:hover {color: #105aff; text-decoration: none;}
#about:hover {color: #105aff;}
#work:hover {color: #105aff;}
#home:hover {color: #105aff;}
#arrow-control{width: 30px;}
#arrow-control #colors:hover{fill: #105aff; stroke:#105aff;}

h1{
    font-size: 60px;
    line-height: 58px;
    letter-spacing: -1.8px;
    text-align: center;
    cursor: default;
}

h4{padding-bottom: 10px; cursor: default;}

.introMe #list {color: #105aff;}
.introMe  #list:hover { cursor: pointer;}

#scroll-indicator{
    font: 200 90px/0.2 "BasisGrotesque-Bold";
    position: absolute;
    bottom: 60px;
    z-index: 20;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    cursor: pointer;
}

.mySlides{display:none;}

#scroll-indicator span{
    position: relative;
    animation: slidein 1.3s alternate infinite;
}

#navBar{width: 100%; height: 20px; margin-top: 10px;}

.dot {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  border: 2px solid #105aff;
  height: 13px;
  width: 13px;
  padding: 0;
  margin-bottom: 0;
  cursor: pointer;
  transition: background 0.6s ease;
}

.dot-container{cursor: pointer;text-align: center;}
.dot:hover {background: #105aff;}
.active {background: #105aff;}

.left_dir, .right_dir{cursor: pointer; width: 20px;}
.left_dir {float: left;}
.right_dir {float: right;}


@keyframes slidein {
  0% {
    top:0;
  }

  100% {
    top:8px;
  }
}


.cursor{
    border-radius: 0;
    left: 0;
    mix-blend-mode: difference;
    pointer-events: none;
    position: fixed;
    top: 0;
    transform-origin: center center;
    z-index: 1000;
    display: block;
} 

.cursor span{
  -webkit-transform: translate(-50%,-50%);
    background-color: transparent;
    border-radius: 100%;
    height: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    transform-origin: center center;
    width: 10px;
    background: red;
  }

/*------------------------------------BODY Sections---------------------------------*/


.mobile-table-cell{
    display: table-cell;
    vertical-align: middle;
}
.col-6 {width:60%;}
.col-5{width: 50%;}

#altered{margin-top:-35vh; margin-right: 10%;}
#altered-2{margin-left:6%; margin-top: -15%;}

.col-center{
    margin-right: auto;
    margin-left: auto;
}

.col-right{margin-right: 0; margin-left: auto;}

.col-left{margin-left: 5%;}

h2 {
    font-family: 'BasisGrotesque-Bold',sans-serif!important;
    font-size: 2.5em;
    line-height: 1.1em;
    text-align: left;
    cursor: default;
}

h2.white{color:white;}
h2.black{color: #404040;}

.go-to-page{
    font-weight: 900;
}

a.mothership{color:white; font-size: 0.5em;}
a:hover{text-decoration: underline;}

.all_other{background-color: #105AFF; height:95%;}

.all_other article{
    padding:120px 0 90px;
    max-width: 1024px;
    margin: 0 auto;
    font-family: 'BasisGrotesque-Bold',sans-serif!important;
    font-size: 1em;
    line-height: 1.2em;
    opacity: .8;  
    width: 100%;
}

.all_other ul, .all_other ul a{ color:#A2CFFF; text-decoration: none;}

.all_other li {
    border-top: 1px solid #3272FF;
    padding: 12px 0;
    position: relative;
}

.all_other li:hover{
    background-color: rgba(144,195,212, .1);
    transition: all 300ms;
}

.all_other li:last-of-type { border-bottom: 1px solid #3272FF;}

.all_other span {
    display: inline-block;
    position: absolute;
    right:0;
}

.all_other ul a:hover, .all_other span>a:hover{
    color: #fff;
    opacity: 1;
    transition: all 300ms;
    letter-spacing: .3px;
}

.all_other span:hover{cursor: default!important;}

.about_me{
    color:#A2CFFF;
    padding-top: 75px;
    text-align: left;
}

.about_me p:last-of-type{padding-top: 15px;}

.about_me a{color: white;}


/*Device tab*/
#device-set{
  position: relative;
  height: 550px;
}

.device {
  border: 3px solid #121e23;
  bottom: 0;
  background: white;
}

.device:first-child {
  width: 75%;
  position: absolute;
  height: 100%;
  font-size: 70.3125vw;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}

.device:nth-child(2) {
  position: absolute;
  width: 33.3%;
  font-size: 31.21875vw;
  left: 60%;
}

.device:nth-child(3) {
  position: absolute;
  width: 13.65%;
  font-size: 15.60937vw;
  left: auto;
  right: 0;
}

.browser:before{
  content: '';
  display: block;
  position: absolute;
}

.device-body{
  border: 3px solid #121e23;
  border-left: none;
  border-right: none;
  position: absolute;
  top: 20px;
}

.controls {
  position: absolute;
  width: 11px;
  height: 11px;
  border: 1px solid #121e23;
  border-radius: 50%;
  top: 4px;
  left: 6px;
}

.controls:before, .controls:after {
  content: '';
  position: absolute;
  border: 1px solid #121e23;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  left: 15px;
  top: -1px
}

.controls:after {
  left: 30px;
}

.tablet {
  height: 80%;
  background: white;
  border-radius: .0375em;
}

.tablet:before {
  content: '';
  position: absolute;
  background: white;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: calc(50% - 3px);
  top: 12px;
}

.tablet:after {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  border: 1px solid #121e23;
  border-radius: 50%;
  bottom: 15px;
  left: calc(50% - 14px);
}

.tablet .device-body {
  border: 3px solid #121e23;
  height: 80%;
  width: 86%;
  left: calc(50% - 43%);
  overflow: hidden;
  top: 30px;
  border-radius: 3px;
}

.tablet img {
  border-radius: 5px;  
}

.mobile {
  position: absolute;
  height: 50%;
  border-radius: .0775em;
  background: white;
}

.mobile .device-body{
  width: 86%;
  height: 72%;
  border: 3px solid #121e23;
  overflow: hidden;
  left: calc(50% - 43%);
  border-radius: 3px;
}

.mobile:before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  border: 1px solid #121e23;
  border-radius: 50%;
  bottom: 15px;
  left: calc(50% - 14px);
}

.mobile:after {
  content: '';
  position: absolute;
  width: 40px;
  border: 1px solid #121e23;
  border-bottom: none;
  top: 9px;
  left: calc(50% - 20px);
}

#proto{
    position: relative;
    left: calc(50% - 255px);
}

#proto iframe {
  width: 507px;
  height: 711px; 
}


.laptop {
  width: 43.668em;
  height: 25.888em;
  background: white;
  border: 2px solid black;
  border-radius: 0.625em 0.625em 0 0;
  position: relative;
  top: calc(50% - 14.3em);
  left: calc(50% - 21.834em);
  z-index: 1;
}
.window {
  width: 40.168em;
  height: 22.7em;
  border: 2px solid black;
  position: relative;
  left: calc(50% - 20.3em);
  top: calc(50% - 11.244em);
}

.btm {
  position: absolute;
  width: 50.1em;
  height: 1.612em;
  border-radius: 0 0 20px 20px;
  border: 2px solid black;
  z-index: 2;
  bottom: -1.6em;
  left: -3.5em;
}

.btm:after {
  content: '';
  position: absolute;
  width: 12em;
  height: 0.5em;
  border: 2px solid black;
  border-radius: 0 0 0.7em 0.7em;
  left: calc(50% - 6em);
  top: -2px;
}

.featured-images-center{
/*  width: 70%;
  height: 50%;*/
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/*------------------------------------ FOOTER---------------------------------------*/
footer {
    font-family:'BasisGrotesque-Bold',sans-serif!important;
	 padding: 20px;
	   background-color: #0033A3;
    width:100%;
    font-size: 1em;
    color: #A2CFFF;
    display: block;
}

footer div{
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    display: block;
}

footer article{
    display: inline-flex;
    margin: 0;
    width: 100%;
}

footer article p{ width: 50%; margin: 0;}
footer article p:last-of-type{ text-align: right; margin: 0;}
footer article a{color:inherit; text-decoration: none;}
footer article a:hover{text-decoration: none;}

/*------------------------------MOBILE SCREENS!!!!!!!!!!!!!!!!!-----------------------------------------*/

@media screen and (min-device-width : 768px) and (max-device-width : 1024px){

        /*------------------------------------BODY Sections---------------------------------*/
        .front  {height:600px;}

        .col-6 {width:60%;}

        .to-the-right{margin-right: 0;}
        .to-the-left{margin-left: 5%; width:50%;}

        section.all_other{padding:10px;}

        .all_other article{
            padding:120px 0 90px;
            max-width: 800px;
        }

        footer>div{max-width: 800px;}

        .left{left: -15px;}
        .device:first-child {width: 100%;}
}

@media screen and (max-device-width: 768px){


    section { height: 35vh; padding:10px;}

    .all_other article{padding: 80px 0 20px !important;}

    footer>div{ max-width: 430px; }

    h1{
        font-size: 42px;
        line-height: 37px;
        letter-spacing: -1.8px;
    }

    .all_other span{display: none;}   

    div.introMe h1 {margin-top: -120px;}

    div.introMe #text-box{
        max-width: 80%;
    }

    h2{
        font-size: 22px;
        line-height: 1.1em;
    }

    #altered{
        margin-top:-20vh;
        width: 60%;
    }

    #altered-2{
      margin-left: 2%;
      margin-top: -20%;
    }

    .left{left: -5px;}

    .hide {display: none;}
    .device:first-child {width: 100%;}

    #proto {width: 90%; height: auto; left: calc(50% - 45%);}
    #proto iframe {width: 100%; margin-top: -90px;}

    .featured-images iframe body .vp-center{display: inline-block;}
    .featured-images iframe {
      width: 100% !important;
      height: auto !important;
    }

}

@media screen and (max-device-width: 540px){

     section { height: 35vh; padding:10px;} 

     h1{
            font-size: 30px;
            line-height: 27px;
            letter-spacing: -1.8px;
        }

    .all_other span{display: none;}

    div.introMe #text-box{max-width: 80%;}

    div.introMe h1 {margin-top: -100px;}

    h2{
        font-size: 22px;
        line-height: 1.1em;
    }

    .col-6{width:75%;}
    .col-5{width:70%;}

    #altered{
        margin-top:-10vh;
        margin-right: 10%;
        width: 70%;
    }

    #altered-2{
      margin-left: 2%;
      margin-top: -20%;
    }

    .left{left: -15px;}
    .hide {display: none;}
    .device:first-child {width: 100%;}

}


