
@font-face {
  font-family: 'BasisGrotesque';
  src: url('BasisGrotesque.eot?#iefix') format('embedded-opentype'),  url('BasisGrotesque.woff') format('woff'), url('BasisGrotesque.ttf')  format('truetype'), url('BasisGrotesque.svg#BasisGrotesque') format('svg');
  font-weight: normal;
  font-style: normal;
}
