
@font-face {
  font-family: 'BasisGrotesque-Bold';
  src: url('BasisGrotesque-Bold.eot?#iefix') format('embedded-opentype'),  url('BasisGrotesque-Bold.woff') format('woff'), url('BasisGrotesque-Bold.ttf')  format('truetype'), url('BasisGrotesque-Bold.svg#BasisGrotesque-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
